<%= render 'partial/messages' %>
<h1>ログインページ</h1>
<hr>
<%= form_for(:session, url: login_path) do |form| %>

  <table id="form_table">
    <tr>
      <td>
        <%= form.label :ユーザ名 %>:
      </td>
      <td>
        <%= form.text_field :user_name, class:"form-control col-md-8 ml-10", autocomplete: "off" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :パスワード %>:
      </td>
      <td>
        <%= form.password_field :password, class:"form-control col-md-8 ml-10" %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
