<% @article_sections.each do |article_section| %>
  <% @articles = Article.where(language_id: params[:language_id] ||= 1, section_id: article_section.section_id, is_released: 1) %>
  <% @section = Section.find(article_section.section_id) %>
  <h2><%= @section.title %></h2>
  <div class="style-titles">
    <% @articles.each do |article| %>
        <%= link_to article.title, issue_path(article) %><br/>
    <% end %>
  </div>
<% end %>
