<% @languages.each do |language| %>
  <% @articles = Article.where(language_id: language.id, is_released: 1).limit(5).order(created_at: :desc) %>
  <h2><%= language.name %></h2>
  <div class="style-titles">
    <% @articles.each do |article| %>
      <%= link_to article.title, issue_path(article) %><br/>
    <% end %>
  </div>
<% end %>
