<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <%= render 'partial/errors', error_model: article %>
  <% end %>

  <table id="form_table">
    <tr>
      <td>
        <%= form.label :language_id %>:
      </td>
      <td>
        <%= form.collection_select :language_id, @languages, :id, :name, { include_blank: true }, class:"form-control col-md-8 ml-10", id:"language_id" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :section_id %>:
      </td>
      <td>
        <%= form.collection_select :section_id, @sections, :id, :title, { include_blank: true }, class:"form-control col-md-8 ml-10" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :title %>:
      </td>
      <td>
        <%= form.text_area :title, class:"form-control col-md-11 ml-10", rows: 5 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :body %>:
      </td>
      <td>
        <%= form.text_area :body, class:"form-control col-md-11 ml-10", rows: 25 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :is_released %>:
      </td>
      <td>
        <%= form.check_box :is_released, class:"form-control" %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
