<p id="notice"><%= notice %></p>

<div class="">
  <h1>記事一覧</h1>
  <hr>
  <%= form_tag({controller: 'articles', action: 'index'}, method: 'get') do %>
    <div class="form-group row">
      <label class="mr-10">プログラミング言語:</label>
      <%= collection_select :article, :language_id, @languages, :id, :name, { include_blank: true }, class:'form-control col-md-6 mr-10' %>
      <%= submit_tag '検索', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>プログラミング言語</th>
      <th>セクションタイトル</th>
      <th>記事タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.language.name %></td>
        <td><%= article.section.title %></td>
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: '削除してよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to '新しい記事を追加', new_article_path %>
</div>
<div>
  <%= link_to 'ポータル画面に戻る', portal_articles_path %>
</div>
