<script type="text/javascript">
  $(function(){
    $("#language_id").change(function(){
      language_id = $("#language_id").val();
      if (language_id != "") {
        location.href = "<%= url_for controller: 'articles', action: 'new', only_path: false %>?language_id=" + language_id;
      } else {
        location.href = "<%= url_for controller: 'articles', action: 'new', only_path: false %>"
      }
    });
  });
</script>
<h1>記事を追加</h1>
<hr>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>
