<%= render 'partial/messages' %>
<h1>管理画面</h1>
<hr>
<div>
  <%= link_to '>> プログラミング言語を追加', languages_path %>
</div>
<div>
  <%= link_to '>> セクションタイトルを追加', sections_path %>
</div>
<div>
  <%= link_to '>> 記事を追加', articles_path %>
</div>
<div>
  <%= link_to '>> お問い合わせ確認', infomations_path %>
</div>
