<p id="notice"><%= notice %></p>

<p>
  <h3>プログラミング言語: <%= @article.language.name %></h3>
</p>

<p>
  <h3>セクションタイトル: <%= @article.section.title %></h3>
</p>

<script type="text/javascript">
  $('body').scrollspy({ target: '#navbar-scrollspy' });
  $('[data-spy="scroll"]').each(function () {
    var $spy = $(this).scrollspy('refresh');
  });
</script>

<h1><%= @article.title %></h1>
<hr>
<div class="row">
  <div data-spy="scroll" data-target="#navbar-scrollspy" data-offset="0" class="scrollspy col-md-9">
    <%= markdown(@article.body).html_safe %>
  </div>


  <div class="col-md-3">
    <nav id="navbar-scrollspy" class="style-scrollspy mb-30">
      <nav class="nav nav-pills flex-column">
        <h5 class="text-center">目次</h5>
        <% @items.each do |key, value| %>
          <a class="nav-link" href="#<%= key %>"><%= value %></a>
        <% end %>
      </nav>
    </nav>
    <div class="list-group">
      <% @articles = Article.limit(5).order(updated_at: :desc) %>
      <span class="list-group-item text-center">最新記事</span>
      <% @articles.each do |article| %>
        <%= link_to article.title, issue_path(article), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
