<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <%= render 'partial/errors', error_model: language %>
  <% end %>


  <table id="form_table">
    <tr>
      <td>
        <%= form.label :name %>:
      </td>
      <td>
        <%= form.text_field :name, id: :language_name, class:"form-control col-md-8 ml-10" %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
