<p id="notice"><%= notice %></p>

<h1>プログラミング言語一覧</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>プログラミング言語</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.id %></td>
        <td><%= language.name %></td>
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: '削除してよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= link_to 'プログラミング言語の追加', new_language_path %>
</div>
<div>
  <%= link_to 'ポータル画面に戻る', portal_articles_path %>
</div>
