<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <%= render 'partial/errors', error_model: section %>
  <% end %>

  <table id="form_table">
    <tr>
      <td>
        <%= form.label :language_id %>:
      </td>
      <td>
        <%= form.collection_select :language_id, @languages, :id, :name, { include_blank: true }, class:"form-control col-md-8 ml-10" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :title %>:
      </td>
      <td>
        <%= form.text_area :title, id: :section_title, class:"form-control col-md-8 ml-10", rows: 5 %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
