<p id="notice"><%= notice %></p>

<h1>セクションタイトル一覧</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>プログラミング言語</th>
      <th>記事タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.id %></td>
        <td><%= section.language.name %></td>
        <td><%= section.title %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: '削除してよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to '新しいセクションタイトルを追加', new_section_path %>
</div>
<div>
  <%= link_to 'ポータル画面に戻る', portal_articles_path %>
</div>
