<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @section.language.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
