<%= form_with(model: infomation, local: true) do |form| %>
  <% if infomation.errors.any? %>
    <%= render 'partial/errors', error_model: infomation %>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div>
        当サービスに対するご意見・ご要望などがございましたら、お気軽にお問い合わせください。<br/>
        送信された内容は管理者に送信され、サービス向上に役立てられます。
      </div>
      <table id="form_table_infomation">
        <tr>
          <td>
            <%= form.label :title %>:
          </td>
          <td>
            <%= form.text_field :title, class:"form-control style-margin-bottom" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= form.label :body %>:
          </td>
          <td>
            <%= form.text_area :body, rows:15, class:"form-control style-margin-bottom" %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="actions">
    <%= form.submit '送信する', class: "btn btn-primary" %>
  </div>
<% end %>
