<div class="card border-dark mb-3">
  <div class="card-header">お問い合わせ内容の送信が完了しました！</div>
  <div class="card-body text-dark">
    <h5 class="card-title">お問い合わせ、ありがとうざいます</h5>
    <p class="card-text">今後のサービス向上に利用させていただきます。</p>
  </div>
</div>