<%= render 'partial/messages' %>

<div>
  <h1>記事一覧</h1>
  <hr>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>件名</th>
      <th>お問い合わせ内容</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @infomations.each do |infomation| %>
      <tr>
        <td><%= infomation.id %></td>
        <td><%= truncate(infomation.title, length: 20) %></td>
        <td>
          <%= truncate(infomation.body, length: 35) %>
          <% if !infomation.is_opened %>
            <span class="badge badge-danger">New</span>
          <% end %>
        </td>
        <td><%= link_to 'Show', infomation %></td>
        <td><%= link_to 'Destroy', infomation, method: :delete, data: { confirm: '削除してよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'ポータル画面に戻る', portal_articles_path %>
</div>
