<%= render 'partial/messages' %>
<h1>ポータル画面</h1>
<hr>
<div>
  <%= link_to '新しいプログラミング言語を追加', languages_path %>
</div>
<div>
  <%= link_to '新しいセクションタイトルを追加', sections_path %>
</div>
<div>
  <%= link_to '新しい記事を追加', articles_path %>
</div>
