<%= render 'partial/messages' %>

<p>
  <strong>件名:</strong>
  <%= @infomation.title %>
</p>

<p>
  <strong>お問い合わせ:</strong>
  <%= simple_format(@infomation.body) %>
</p>

<%= link_to 'Back', infomations_path %>
