@import "bootstrap";
$navBakColor: #fd7d0a;
$navHomeColor: #FFFFFF;
$navFontColor: #4C4C4C;
$borderColor: #CCCCCC;
$style-scrollspy: #e6e6e6;

body {
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Noto Sans", "Noto Sans CJK JP","メイリオ","Meiryo","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana, Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom:10px;
  font-size: 17px;
}

.navbar {
  background-color: $navBakColor !important;
  color: red !important;
  margin-bottom: 20px;
}

.navbar-light .navbar-brand {
  color: $navHomeColor;
}

.navbar-light .navbar-nav .nav-link {
  color: $navFontColor;
}

.style-section {
  margin-bottom: 15px;
}

td, th {
  padding: 10px 20px;
  word-break: break-all;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.style-titles {
  border-top: 1px solid $borderColor;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollspy {

}

.style-scrollspy {
  padding-top: 10px;
  background-color: $style-scrollspy;
}

h4[id*=item] {
  border-left: 3px solid #66ccff;
  background-color: #f2f2f2;
  padding: 10px 0 10px 5px;
}

#error_explanation {
  color: red;
}

#form_table {
  width: 100%;
  td:nth-of-type(1) {
    text-align: right;
    width: 18%;
  }
  td:nth-of-type(2) {
    width: 82%;
    padding-left: 0px;
  }
}

#form_table_infomation {
  width: 100%;
  td:nth-of-type(1) {
    width: 10%;
    padding-left: 0px;
    text-align: right;
  }
  td:nth-of-type(2) {
    width: 90%;
    padding-left: 0px;
  }
}

.list-group-item {
  word-break: break-all;
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-top:2px solid blue;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.list-group-item:nth-child(n):hover {
  background-color: #e6e6e6;
}

.list-group-item:first-child:hover {
  background-color: #ffffff;
}