blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

pre, code {
  font-size: 14px;
  background-color: #CCCCCC;
  padding: 10px;
}

b, strong {
  font-weight: bold;
}

