<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rubier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'markdown', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'partial/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
